.movieContainer {
    display: inline-block;
    width: 50%;
    margin-bottom: 40px;
}

.movieDetailWrapper {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    color: #FFFFFF;
    width: calc(100% - 305px);
}

.movieImageWrapper {
    position: relative;
    display: inline-block;
    width: 265px;
    cursor: pointer;
}

.movieImageWrapper > img {
    width: 100%;
}

.movieDurationBar {
   position: absolute;
   bottom: 15px;
   width: calc(100% - 40px);
   height: 4px;
   background-color: #C1C1C1;
   margin: 0 20px;
}

.moviePlayedBar {
    position: absolute;
    background-color: #E10B14;
    height: 100%;
}

.movieTitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 4px;
}

.movieChapter {
    font-size: 16px;
    padding-bottom: 4px;
}

.movieDuration {
    font-size: 20px;
    padding-bottom: 4px;
}

@media screen and (max-width: 1280px) {
    .movieImageWrapper {
        width: 225px;
    }

    .movieTitle {
        font-size: 14px;
    }
    
    .movieChapter {
        font-size: 12px;
    }
    
    .movieDuration {
        font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    .movieContainer {
        display: block;
        width: auto;
    }

    .movieImageWrapper {
        display: block;
        width: calc(100vw - 80px);
        cursor: pointer;
    }

    .movieDetailWrapper {
        display: block;
        margin: 10px 0 0 0;
        width: auto;
    }
        
}